<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>后台登录</title>
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>
<body>
{% if error %}
<script>
alert("{{ error }}");
</script>
{% endif %}
<div class="container">
	<section id="content">
		<form action="" method="POST">
			<h1 style="color: #ed1c24">后台管理登录</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" name="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name="password" />
			</div>
			<div style="margin-left: 110px;">
				<input type="submit" value="Log in" />
			</div>
		</form><!-- form -->
        <div class="button">
            <a href="/login/regeister" style="margin-left: 30px;float: left">账户注册</a>
			<a href="/login/see/root">随便看看</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/login/login">账户登录</a>
		</div><!-- button -->
		</section><!-- content -->
</div><!-- container -->
</body>
</html>