<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图书推荐系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/details.css" />
{% if error and not flag %}
<script>
if(confirm("{{ error }}")){
            window.location.href="/login/login";
        }
</script>
{% elif error and flag %}
<script>
alert("{{ error }}");
</script>
{% endif %}
<script>
    var a=document.getElementById("slider");
  	function goin(a){
  		var b=document.getElementById(a);
  		if(b.hasAttribute("class")){
       		b.removeAttribute("class","dis");
        }

    }
    function goout(a){
        var b=document.getElementById(a);
        if(!b.hasAttribute("class")){
       		b.setAttribute("class","dis");
       	}

    }
</script>
</head>
<body>
    <div id="wrap">
        <div class="header">
            <div class="logo"><a href="/index/index/{{ uid }}"><img src="/static/image/logo.gif" alt="" title="" border="0" /></a></div>
            <div id="menu">
                <ul>
                {% if username %}
                <li class="selected"><a href="/index/index/{{ uid }}">首页</a></li>
                <li><a href="/index/more/{{ uid }}">猜你喜欢</a></li>
                <li><a href="/index/hot/{{ uid }}">Hot榜</a></li>
                <li><a href="/index/new/{{ uid }}">新书速递</a></li>
                <li style="float: right"><a href="/login/login">注销</a></li>
                <li style="float: right"><a href="/index/change/{{ uid }}">信息修改</a>|</li>
                <li style="float: right"><a href="/login/center/{{ uid }}">用户：{{ username }}</a>|</li>
                {% else %}
                <li class="selected"><a href="/login/see/root">随便看看</a></li>
                <li style="float: right"><a href="/login/login">登录</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
       
        <div class="center_content">
       	    <div class="left_content">
    	        <div class="title">
                    <span class="title_icon"><img src="/static/image/bullet1.gif" alt="" title="" /></span>{{ onebook.bname }}
                </div><br><br><br><br>

                <div class="book">
                    <div class="img_left">
                        <img src="/static/image/book/{{ onebook.bid }}.jpg" width="150px" height="200px">
                    </div>

                    <div class="details_right">
                        <div class="d_left center">
                            <h2>相关信息</h2>
                            <p><span>书名</span>：{{ onebook.bname }}</p>
                            <p><span>作者</span>：{{ onebook.bauthor }}</p>
                            <p><span>译者</span>：{{ onebook.btrans }}</p>
                            <p><span>出版社</span>：{{ onebook.bpublish }}</p>
                            <p><span>出版时间</span>：{{ onebook.bpdate }}</p>
                            <p><span>评分</span>：{{ onebook.bscore}}分</p>
                            <p><span>评论人数</span>：{{ onebook.bdisnum }}人</p>
                        </div>
                        <div class="d_right center">
                            <h2>货比三家</h2>
                            {% for buy in onebookbuy %}
                                <p>{{ buy.store }}：{{ buy.price }} &nbsp;&nbsp;&nbsp; 【<a href="{{ buy.bhref }}" target="_blank">点击购买</a>】</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!--添加用户评分-->
                    <div style="width: 100%; float: left;">
                        {% if score %}
                        <form method="post" action="">
                            <br/><br/>
                            <p style="color: #ed1c24;font-size: 20px;"> 你对该书的打分是：{{ score }}分，若要更新，重新提交</p>
                            <input type="text" id="score" name="score" style="width: 30%; height: 15px" required="" placeholder="输入分数在0~5之间">
                            <input type="submit" value="提交" style="height: 20px;">
                        </form>
                        {% else %}
                        <form method="post" action="">
                            <p style="color: #ed1c24;font-size: 20px;"> 我要为该书评分</p>
                            <input type="text" id="score" name="score" style="width: 30%; height: 15px" required="" placeholder="输入分数在0~5之间">
                            <input type="submit" value="提交" style="height: 20px;">
                        </form>
                        {% endif %}
                    </div><!--end form-->
                    <div class="intrduce_buttom">
                        <h2>简介：</h2>
                        <p>{{ onebook.bshow }}</p>
                    </div>
                </div>
                <hr style="border: 1px #9edeff solid;width: 100%">
                <div class="title">
                    <span class="title_icon"><img src="/static/image/bullet2.gif" alt="" title="" /></span>浏览过该书的还浏览过：
                </div>
                <div class="new_products">
                    {% for one in otherbook_list %}
                    <div class="new_prod_box">
                        <a href="">《{{ one.bname }}》</a>
                        <div class="new_prod_bg">
                            {% if username %}
                            <div class="prod_img"><a href="/index/details/{{ uid }}/{{ one.bid }}"><img src="/static/image/book/{{ one.bid }}.jpg" alt="" title="" border="0"/></a></div>
                            {% else %}
                            <div class="prod_img"><a href="/index/details/root/{{ one.bid }}"><img src="/static/image/book/{{ one.bid }}.jpg" alt="" title="" border="0"/></a></div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div><!--end of left content-->

            <div class="right_content">
                {% if usersim_list %}
                <div class="right_box">
                    <div class="title">
                        <span class="title_icon"><img src="/static/image/bullet5.gif" alt="" title="" /></span>
                        用户推荐<span style="font-size: 15px;color: tomato">【推荐指数】</span>
                    </div>

                    <ul class="list">
                        {% for one in usersim_list %}
                            <li><a href="/login/otherCen/{{ uid }}/{{ one.userid }}">{{ one.username }}</a><br><span style="font-size: 15px;color: tomato">【{{ one.usersim }}%】</span></li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                    <div class="right_box">
                    <div class="title">
                        <span class="title_icon"><img src="/static/image/bullet5.gif" alt="" title="" /></span>
                        为你推荐<span style="font-size: 15px;color: tomato"></span>
                    </div>
                    {% if book_list %}
                    <ul class="list">
                        {% for one in book_list %}
                            <li>
                                <a href="/index/details/{{ uid }}/{{ one.bid }}">《{{ one.bname }}》</a><br/>
                                <a>推荐指数：{{ one.bsim | floatformat:2}}</a><br/>
                                <span style="margin-left: 10%" onmouseover="goin({{ one.bid }})" onmouseleave="goout({{ one.bid }})"><img src="/static/image/book/{{ one.bid }}.jpg" alt="" title=""></span>
                            </li>
                            <div class="dis" id="{{ one.bid }}">
                                <div class="imgslider">
                                <h3>推荐理由</h3>
                                <p>根据你此次登录之前的打分记录为你推荐《{{ one.bname }}》，推荐指数{{ one.bsim | floatformat:"2" }}特为你推荐</p>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="list">
                        <li><a href="">你还没有进行打分</a></li>
                        <li><a href="">暂时不进行相关推荐</a></li>
                    </ul>
                    {% endif %}
                </div>
                {% endif %}
            </div><!--end of right content-->

        <div class="clear"></div>
    </div><!--end of center content-->
       
    <div class="footer">
        <div class="left_footer"><img src="/static/image/footer_logo.gif" alt="" title="" /><br /> <a href="http://www.cssmoban.com/" title="free templates">cssmoban</a></div>
        <div class="right_footer">
            <a href="/index/index/{{uid}}">首页</a>
            <a href="/index/more/{{ uid }}">猜你喜欢</a>
            <a href="/index/hot/{{ uid }}">Hot榜</a>
            <a href="/index/new/{{ uid }}">新书速递</a>
            <a href="/login/center/{{ uid }}">个人中心</a>
        </div>
    </div>

</div>

</body>
</html>