<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>欢迎注册</title>
<link rel="stylesheet" type="text/css" href="/static/css/regeister.css" />
</head>
<body>
{% if error %}
<script>
alert("{{ error }}");
</script>
{% endif %}
<script>
    function check()
    {
        var len_year = document.getElementsByName("year").value();
        alert(len_year.length)
        if(len_year.length != 4)
        {
            alert("你输入的日期数据不合法！！！");
            return false;
        }
    }
</script>
<div class="container">
	<section id="content">
		<form action="" method="POST">
			<h1>图书推荐系统注册</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" name="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
            <div>
                <input type="text" placeholder="出生年份(eg:1993)" required="" id="year" name="year" />
			</div>
            <div style="border: 1px #DCDDDF solid; width: 340px;margin-left: 10px;height: 50px;font-size: 20px;line-height: 25px">
				<span style="float: left">职业：</span>
                <input type="radio" required="" name="job" id="job" value="学生"/>学生
                <input type="radio" required="" name="job" id="job" value="教师" />教师
                <input type="radio" required="" name="job" id="job" value="IT" />IT
                <input type="radio" required="" name="job" id="job" value="金融管理"/>金融管理
                <input type="radio" required="" name="job" id="job" value="设计" />设计
                <input type="radio" required="" name="job" id="job" value="销售" />销售
                <input type="radio" required="" name="job" id="job" value="其他" />其他
			</div><br/>
            <div style="border: 1px #DCDDDF solid; width: 340px;margin-left: 10px;height: 25px;font-size: 20px;line-height: 25px">
				<span style="float: left">性别：</span>
                <input type="radio" name="sex" id="sex" value ="男"/>男
                <input type="radio" name="sex" id="sex" value ="女" />女
			</div>
			<div style="margin-left: 110px">
				<input type="submit" value="regeister" onclick="return check()" />
			</div>
		</form><!-- form -->
		<div class="button">
            <a href="/default/login" style="margin-left: 30px;float: left">后台管理</a>
			<a href="/login/see/root">随便看看</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/login/login">账户登录</a>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
</body>
</html>